[submodule "Simplify.safariextension/core"]
	path = Simplify.safariextension/core
	url = git@github.com:mmth/simplify_web_suite_core.git
	branch = master
[submodule "Simplify.chromeextension/core"]
	path = Simplify.chromeextension/core
	url = git@github.com:mmth/simplify_web_suite_core.git
	branch = master
